extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nicholas Oakes

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            |I began to learn to code in my free time in 2017 whilst working as a science teacher in South Korea. I soon realised that I wanted my future career to be in web development, and so began to intensify my study, starting a full-time, full-stack JS course to consolidate my skills in 2019, and I am now seeking my first position as a junior developer.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Pug
          li Object-Oriented Programming
          li API Requests
          li GitHub

        h6 Contact Info

        ul
          li (+44) 7853 660 311
          li nickoakes1@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/nicholas-oakes-742569102/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/nickoakes' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  